.box {
  width: 700px;
  height: 200px;
  background: rgb(14, 255, 0);
  background: linear-gradient(
    90deg,
    rgb(13, 255, 0) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  border: 10px solid black;
  border-radius: 20px;
  box-shadow: 0 0 20px white;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
}

body {
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  /* opacity: 0.93; */
}

h1 {
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  letter-spacing: 0.8rem;
  animation: example 4s ease-in-out infinite alternate;
}

h2 {
  color: white;
  text-align: center;
  /* font-family: "Courier New", Courier, monospace; */
  font: 20px/0.65 "Pacifico", "Kaushan Script", Futura, "Roboto", "Trebuchet MS",
    Helvetica, sans-;
  text-shadow: 0 0 1px white;
  /* animation: rotate 5s ease-in-out infinite; */
  margin-top: 10px;
}

h3 {
  text-align: left;
  margin-top: 50px;
}

@keyframes example {
  from {
    text-shadow: 0 0 1px;
    letter-spacing: 0.8rem;
  }
  to {
    text-shadow: 0 0 70px;
    letter-spacing: 1.3rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    text-shadow: 0 0 1;
  }
  25% {
    transform: rotate(5deg);
    text-shadow: 0 0 20;
  }
  50% {
    transform: rotate(0deg);
    text-shadow: 0 0 30;
  }
  75% {
    transform: rotate(-5deg);
    text-shadow: 0 0 20;
  }
  100% {
    transform: rotate(0deg);
    text-shadow: 0 0 1;
  }
}

.happyharmonx {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  /* opacity: 0.8; */
}

.button {
  /* background-color: black; */
  height: 50px;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border: 5px solid rgb(43, 42, 42);
  color: white;
  padding: 10px 20px;
  text-align: center;
  font: 30px/0.65 "Pacifico", "Kaushan Script", Futura, "Roboto", "Trebuchet MS",
    Helvetica, sans-;
  /* display: inline-block; */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0px 5px 10px 0px rgb(87, 86, 86);
  position: relative;
  margin: 100px 100px;
}

.audiometers {
  margin: 10px 10px;
  width: 200px;
  height: 40px;
  background: rgb(14, 255, 0);
  background: linear-gradient(
    90deg,
    rgb(13, 255, 0) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  border: 10px solid rgb(43, 42, 42);
  border-radius: 10px;
  transform: rotate(-90deg);
  position: absolute;
  margin: -400px 8px;
  /* margin-top: -400px; */
}

.bar {
  background-color: rgb(43, 42, 42);
  width: 200px;
  height: 5px;
  position: relative;
  margin-top: 17.5px;
  opacity: 0.8;
}

.crossbar {
  background-color: rgb(43, 42, 42);
  width: 50px;
  height: 5px;
  transform: rotate(-90deg);
  position: relative;
  top: -1px;
  left: 150px;
  opacity: 0.8;
}

.crossbar2 {
  background-color: rgb(43, 42, 42);
  width: 50px;
  height: 5px;
  transform: rotate(-90deg);
  position: relative;
  top: -7px;
  left: 164px;
  opacity: 0.8;
}

.speakerleft {
  width: 200px;
  height: 100px;
  background-color: aqua;
  position: absolute;
  left: 200px;
  top: 100px;
  border: 7px solid rgb(43, 42, 42);
  border-radius: 5px;
  animation: rotate 5s ease-in-out infinite;
}

.tweeter {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 10px;
  margin: 7px 7px;
}

.tweetercenter {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 15px;
  margin: 10px 10px;
  position: absolute;
  left: 7px;
}

.cone {
  width: 80px;
  height: 80px;
  background-color: black;
  border-radius: 30px;
  position: absolute;
  margin: 10px 11px 0px 110px;
}

.conecenter {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  margin: 15px 10px;
  position: absolute;
  left: 5px;
}

.speakerright {
  width: 200px;
  height: 100px;
  background-color: aqua;
  position: absolute;
  left: 1307px;
  top: 100px;
  border: 7px solid rgb(43, 42, 42);
  border-radius: 5px;
  animation: rotate 5s ease-in-out infinite;
}

.tweeterright {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 10px;
  margin: 7px 7px 7px 140px;
}

.tweetercenterright {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 15px;
  margin: 10px 10px;
  position: absolute;
}

.coneright {
  width: 80px;
  height: 80px;
  background-color: black;
  border-radius: 30px;
  position: absolute;
  margin: 10px 100px 10px 10px;
}

.conecenterright {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  margin: 15px 10px;
  position: absolute;
  left: 5px;
}

footer {
  /* background-color: aqua; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  color: azure;
  display: block;
}
